[submodule "v2/lib/forge-std"]
	path = v2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "v2/lib/openzeppelin-contracts"]
	path = v2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "v2/lib/ens-contracts"]
	path = v2/lib/ens-contracts
	url = https://github.com/ensdomains/ens-contracts
[submodule "v2/lib/buffer"]
	path = v2/lib/buffer
	url = https://github.com/ensdomains/buffer
[submodule "v2/lib/optimism"]
	path = v2/lib/optimism
	url = https://github.com/ethereum-optimism/optimism
[submodule "v2/lib/nitro-contracts"]
	path = v2/lib/nitro-contracts
	url = https://github.com/offchainlabs/nitro-contracts
